html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

body {
  overflow-x: hidden;
  /* background-image: url(/main-bg.png); */
}

::-webkit-scrollbar {
  width: 7px;
  padding: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0.3rem;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 0.3rem;
  border: 1px solid;
  border-color: black
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.outlineText {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FFFFFF;
  }